<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="LOCAL" class="ch.qos.logback.core.ConsoleAppender">

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder>
      <pattern>%-5level [%thread] %d{HH:mm:ss.SSS} %logger{15} - %msg%n%rEx</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
  </appender>

  <appender name="BUGSNAG" class="com.bugsnag.BugsnagAppender">
    <apiKey>${BUGSNAG_KEY}</apiKey>

    <appType>akka</appType>
    <appVersion>0.0.1</appVersion>
    <releaseStage>development</releaseStage>
    <projectPackages>sample</projectPackages>

  </appender>

  <root level="INFO">
    <appender-ref ref="LOCAL" />
    <appender-ref ref="BUGSNAG"/>
  </root>


</configuration>
